@media (max-width: 1380px){
	.sidebar {
		width: 150px;
		font-size: 12px;
	}
	.item-input {
		width: 400px;
		height: 200px;
		
	  }
	.menu__list-link {
		width: 145px;
		height: 34px;
	  }
}
@media (max-width: 1080px){
	.item-input {
		width: 350px;
		height: 200px;
		
	  }
	  .menu__list-link {
		width: 145px;
		height: 34px;
	  }
	  .result__item {
		max-width: 600px;
		
	  }
}
@media (max-width: 992px){
	.sidebar {
		display: none;

	}
	.header{
		display: flex;
	}
	.header__menu {
	}
	.header__menu-list {
	}
	.header__menu-list--item {
	}
	.header__menu-list--link {
	}
	.header__menu-link--icon {
	}
	.header__menu-link--text {
	}
	.item-input {
		width: 300px;
		height: 200px;
		
	}
}

@media (max-width: 768px){
	
}
@media (max-width: 685px){
	.compaire__item+.compaire__item{
		margin-left: 0px;
	  }
	.compare__items {
		flex-direction: column;
		
	}
	.item-input {
		width: 400px;
		height: 200px;
		
	}
	.compare__buttons{
		
		
	  }
	  .compaire__item-btn {
		margin-left: 25px;
	  }
	.result__item {
		max-width: 400px;
	
	}
}
@media (max-width: 495px){
	
	.item-input {
		width: 275px;
		height: 200px;
		
	}
	.compare__buttons{
		display: flex;
		flex-direction: column;
	}
	.result__item {
		max-width: 250px;
	
	}
}
@media (max-width: 340px){
	.page{
		display: flex;
		margin: 10px;
		padding: 0px;
		border-radius: 54px;
		background: #fff;
	  }
	.item-input {
		width: 250px;
		height: 200px;
		
	}
	.result__item {
		
	
	}
}