@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  
}
li {
  list-style-type: none;
}


img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  
}
.header{
  display: none;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 60px;
  background: linear-gradient(126deg, rgba(0,123,255,1) 0%, rgba(102,16,242,1) 50%);
  background: linear-gradient(126deg, rgba(0,123,255,1) 0%, rgba(102,16,242,1) 50%);
  backdrop-filter: blur(9px);
}
.header__logo{
  padding-left: 20px;
}
.header__logo-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}
.header__menu {
  width: 100%;
}
.header__menu-list {
  display: flex;
  justify-content: space-around;
}

.page{
  display: flex;
  margin: 20px;
  padding: 10px;
  border-radius: 54px;
  background: #fff;
}

.sidebar {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 800px;
  border-radius: 54px;
  background: linear-gradient(126deg, rgba(0,123,255,1) 0%, rgba(102,16,242,1) 50%);
  backdrop-filter: blur(9px);

}
.sidebar__logo {
  padding-top: 40px;
  margin-bottom: 20px;
  
}
.sidebar__logo-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
}
.sidebar__version {
  display: inline-block;
  margin-bottom: 40px;
  color: #000;
  font-weight: 700;
  transition: all .5s;
}
.sidebar__version:hover{
  color: #fff;
}
.menu__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.menu__list-link {
  display: flex;
  align-items: center;
  width: 175px;
  margin: 0px 0 0 5px;
  height: 44px;
  border-radius: 22px 0px 0px 22px;
  transition: all .9s;
  font-weight: 550;
  line-height: 25px;
  color: white;
 
}
.menu__list-link:hover{
  background: #FFFFFF;
  color: black;
  
}
.menu__list-link.active{
  background: #FFFFFF;
  color: black;
}
.menu__list-logout{
  padding-top: 50px;
  margin: 0 auto;
  
}

.menu__link-icon {
  width: 32px;
  height: 32px;
  padding-left: 10px;
  margin-right: 10px;
}

.menu__link-text:hover {
  color: #000;
}



.content {
  margin: 0 auto;
  align-self: center;
}

.content__title {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  color: #354052;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 10px;
}

.compare__items {
  display: flex;
  
}
.compaire__item+.compaire__item{
  margin-left: 15px;
}
.compaire__item{
  display: flex;
  flex-direction: column;
}
.item-input {
  width: 500px;
  height: 290px;
  font-size: 16px;
  line-height: 25px;
  resize: none;
  border-radius: 10px;
  padding: 20px;
  border: solid #ccc 0.5px;
  margin: 0 0px 20px 00px;
}

.item-text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.crm::after,
.edo::after{
  content: '';
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-left: 10px;
}
.crm::after{
  background-color: #c19efa;
}
.edo::after{
  background-color: #007bff;
}

.compare__buttons{
  display: flex;
  justify-content: center;
}
.compaire__item-btn {
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #6610f2;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 550;
  margin: 0 20px 50px 0px;
  transition: all .4s;
  
}
.compaire__item-btn:hover{
  background-color: #007bff;
}
.compare__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.result__item {
  max-width: 800px;
  min-height: 150px;
  border-radius: 10px;
  word-break:break-all;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 30px;
}
